.DashboardContatiner {
    flex: 1;
}
.DashContainer {
    flex: 1; /* Take the remaining space */
    padding: 30px;
    overflow: auto; /* Handle overflow */
}


.DivSeparater {
    display: flex;
    flex-direction: row;
    gap: 30px;
}