.DashboardContainer {
    flex: 1;
    overflow-x: hidden;
}
.DashContainer {
    flex: 1; 
    padding: 30px;
    /* overflow: auto;  */
}

.DivSeparator {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

@media screen and (max-width: 767px) {
    .DivSeparator {
        flex-direction: column;
    }  

    .DashContainer {
        padding: 12px;

    }
}
