.navbar {
    display: flex;
    align-items: center;
    position: sticky;
    justify-content: space-between;
    background-color: #333;
    padding: 10px;
    color: white;
  }
  
  .navbar-logo .logo {
    height: 30px;
    /* width: 100%; */
    margin-left: 10px;
    overflow-x: hidden;
  }
  
  .navbar-menu {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: space-evenly;
  }
  
  .menu-item {
    display: flex;
    align-items: center;
  }
  
  .dropdown {
    background-color: #444;
    border: none;
    color: white;
    padding: 5px;
    margin-right: 10px;
  }
  
  .search-input {
    background-color: #444;
    border: none;
    color: white;
    padding: 5px;
    margin-right: 5px;
    max-width: 200px;
  }
  
  .search-button {
    background-color: #444;
    border: none;
    color: white;
    padding: 5px;
    cursor: pointer;
  }
  
  .search-button:hover {
    background-color: #555;
  }
  
  .navbar-user {
    display: flex;
    align-items: center;
  }
  
  .user-name {
    margin-right: 10px;
  }
  
  .logout-button {
    background-color: #444;
    border: none;
    color: white;
    padding: 5px;
    cursor: pointer;
  }
  
  .logout-button:hover {
    background-color: #555;
  }
  
  @media (max-width: 768px) {
    .navbar-menu {
      flex-direction: column;
    }
  
    .search-input {
      width: 100%;
      margin-bottom: 10px;
    }
    .navbar-menu {
        display: none;
    }
    .navbar-logo .logo {
        scale: 1.1;
    }
  }
  