/* [class] {
  overflow: auto;
} */
.payment-page-management {
  padding: 20px;
}

.payment-page-management h3 {
  margin-bottom: 20px;
}

.option {
  margin-bottom: 20px;
}

.toggle-button {
  width: 100%;
  text-align: left;
  background: none;
  border: 1px solid #ddd;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}

.icon {
  margin-right: 10px;
}

.content {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-top: none;
  overflow: auto;
}


.color-options {
  display: flex;
  /* gap: 5px; */
}

.color-options.content {
  /* gap: 5px; */
  padding: 0px;
  margin: 0px;
  flex-wrap: wrap;
}


.color-box {
  width: 50px;
  height: 50px;
  cursor: pointer;
  border: 1px solid #000; /* Optional: Add a border to each color box */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  margin: 5px;
}


.field-group {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.field-section {
  flex: 1;
}

.field-section h4 {
  display: flex;
  align-items: center;
}

.field-section label {
  display: block;
  margin-bottom: 5px;
}

.info-box {
  background-color: #e7f3ff;
  padding: 10px;
  border: 1px solid #b3d4fc;
  margin-bottom: 10px;
}

.warning-box {
  background-color: #fff3cd;
  padding: 10px;
  border: 1px solid #ffeeba;
  margin-bottom: 10px;
}

.tracking-input {
  margin-bottom: 10px;
}

.tracking-input label {
  display: block;
  margin-bottom: 5px;
}

.tracking-input input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.save-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.save-button:hover {
  background-color: #0056b3;
}

.logo-instruction {
  background-color: #ebf6fb;
  border: 1px solid #bfd4de;
  margin-bottom: 20px;
  color: #246a8e;
}


.logo-instruction li {
  margin: 10px 0;
  /* overflow-x: scroll; */
}

.UploadlogosSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}


.LogoButtonSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  margin-right: 100px;
}

.SampleLogoImages {
  width: 100%;
  border: 1px solid #b9b9b9;
}

.ButtonClass {
  border:  1px solid black;
  padding: '10px 20px';
  color: '#fff';
  cursor: 'pointer';
  color: white;
  border-radius: 5px;
  width: 150px;
  height: 30px;
}


@media screen and (max-width: 767px){
  .UploadlogosSection {
    flex-direction: column;
  }
  .field-group {
    flex-direction: column;
  }
  .LogoButtonSection {
    align-items: center;
  }
}